<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="customer" class="com.cd.learning.app.model.Customer">

		<property name="employee">
			<bean class="com.cd.learning.app.model.Employee">

				<property name="empId" value="101"></property>
				<property name="name" value="Rohit"></property>
				<property name="address"
					value="Bhola bhai lati b/h krushna kumar shigi road rajula city -365560"></property>
			</bean>

		</property>
	</bean>

</beans>